/ECommerceWebAplication/target/

ECommerceWebAplication/nbproject/private/

.idea/
*.iml
*.iws
*.ipr
.classpath
.project
.settings/
.vscode/

.DS_Store
Thumbs.db
desktop.ini

*.log
/logs/

*.class

*.env
.env.*
secrets.properties
